window_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="includes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="include">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="control">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="visible" type="xs:string" />
                      <xs:element name="posx" type="xs:unsignedShort" />
                      <xs:element name="posy" type="xs:unsignedShort" />
                      <xs:element name="width" type="xs:unsignedShort" />
                      <xs:element name="height" type="xs:unsignedShort" />
                      <xs:element name="onleft" type="xs:unsignedShort" />
                      <xs:element name="onright" type="xs:unsignedByte" />
                      <xs:element name="onup" type="xs:unsignedShort" />
                      <xs:element name="ondown" type="xs:unsignedByte" />
                      <xs:element name="viewtype">
                        <xs:complexType>
                          <xs:simpleContent>
                            <xs:extension base="xs:string">
                              <xs:attribute name="label" type="xs:unsignedShort" use="required" />
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="pagecontrol" type="xs:unsignedByte" />
                      <xs:element name="scrolltime" type="xs:unsignedByte" />
                      <xs:element name="itemlayout">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="control">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:choice maxOccurs="unbounded">
                                    <xs:element name="posx" type="xs:unsignedShort" />
                                    <xs:element name="posy" type="xs:unsignedByte" />
                                    <xs:element name="width" type="xs:unsignedShort" />
                                    <xs:element name="height" type="xs:unsignedByte" />
                                    <xs:element name="font" type="xs:string" />
                                    <xs:element name="textcolor" type="xs:string" />
                                    <xs:element name="selectedcolor" type="xs:string" />
                                    <xs:element name="align" type="xs:string" />
                                    <xs:element name="aligny" type="xs:string" />
                                    <xs:element name="label" type="xs:string" />
                                    <xs:element name="visible" type="xs:string" />
                                    <xs:element name="texture">
                                      <xs:complexType>
                                        <xs:simpleContent>
                                          <xs:extension base="xs:string">
                                            <xs:attribute name="background" type="xs:boolean" use="optional" />
                                            <xs:attribute name="border" type="xs:unsignedByte" use="optional" />
                                          </xs:extension>
                                        </xs:simpleContent>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="info" type="xs:string" />
                                    <xs:element name="description" type="xs:string" />
                                    <xs:element name="aspectratio" type="xs:string" />
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute name="type" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="height" type="xs:unsignedByte" use="required" />
                          <xs:attribute name="width" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="condition" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="focusedlayout">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="control">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="0" name="description" type="xs:string" />
                                  <xs:element name="posx" type="xs:unsignedShort" />
                                  <xs:element name="posy" type="xs:unsignedByte" />
                                  <xs:element name="width" type="xs:unsignedShort" />
                                  <xs:element name="height" type="xs:unsignedByte" />
                                  <xs:element minOccurs="0" name="aspectratio" type="xs:string" />
                                  <xs:element minOccurs="0" name="font" type="xs:string" />
                                  <xs:element minOccurs="0" name="textcolor" type="xs:string" />
                                  <xs:element minOccurs="0" name="selectedcolor" type="xs:string" />
                                  <xs:element minOccurs="0" name="align" type="xs:string" />
                                  <xs:element minOccurs="0" name="aligny" type="xs:string" />
                                  <xs:element minOccurs="0" name="info" type="xs:string" />
                                  <xs:element minOccurs="0" name="label" type="xs:string" />
                                  <xs:element minOccurs="0" name="texture">
                                    <xs:complexType>
                                      <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                          <xs:attribute name="border" type="xs:unsignedByte" use="optional" />
                                          <xs:attribute name="background" type="xs:boolean" use="optional" />
                                        </xs:extension>
                                      </xs:simpleContent>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="animation">
                                    <xs:complexType>
                                      <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                          <xs:attribute name="reversible" type="xs:boolean" use="optional" />
                                          <xs:attribute name="effect" type="xs:string" use="required" />
                                          <xs:attribute name="center" type="xs:string" use="optional" />
                                          <xs:attribute name="start" type="xs:string" use="required" />
                                          <xs:attribute name="end" type="xs:string" use="required" />
                                          <xs:attribute name="time" type="xs:unsignedByte" use="required" />
                                        </xs:extension>
                                      </xs:simpleContent>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="visible" type="xs:string" />
                                  <xs:element minOccurs="0" name="include" type="xs:string" />
                                </xs:sequence>
                                <xs:attribute name="type" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="height" type="xs:unsignedByte" use="required" />
                          <xs:attribute name="width" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="condition" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="control">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:choice maxOccurs="unbounded">
                              <xs:element name="posx" type="xs:unsignedShort" />
                              <xs:element name="posy" type="xs:unsignedShort" />
                              <xs:element name="width" type="xs:unsignedShort" />
                              <xs:element name="height" type="xs:unsignedShort" />
                              <xs:element name="aspectratio">
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                      <xs:attribute name="align" type="xs:string" use="optional" />
                                      <xs:attribute name="aligny" type="xs:string" use="optional" />
                                    </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="fadetime" type="xs:string" />
                              <xs:element name="texture">
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                      <xs:attribute name="background" type="xs:boolean" use="optional" />
                                      <xs:attribute name="flipy" type="xs:boolean" use="optional" />
                                      <xs:attribute name="diffuse" type="xs:string" use="optional" />
                                    </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="description" type="xs:string" />
                              <xs:element name="label">
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                      <xs:attribute name="fallback" type="xs:unsignedShort" use="optional" />
                                    </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="align" type="xs:string" />
                              <xs:element name="aligny" type="xs:string" />
                              <xs:element name="font" type="xs:string" />
                              <xs:element name="textcolor" type="xs:string" />
                              <xs:element name="scroll" type="xs:boolean" />
                              <xs:element name="visible" type="xs:string" />
                            </xs:choice>
                          </xs:sequence>
                          <xs:attribute name="type" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="orientation" type="xs:string" />
                      <xs:element name="preloaditems" type="xs:unsignedByte" />
                      <xs:element name="include" type="xs:string" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="id" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>